<div>
  <div class="row">
    <div class="col">
      <div class="inner-header-about-2">
        <!-- <img class="ui image" src="/images/placeholder-images/custom_page_header_placeholder_image.png" style="margin: 0 auto !important; width: 100%;"> -->
        <h1 class="header-title">
          About Us
        </h1>
      </div>
    </div>
  </div>
</div>
<div ng-cloak>
  <div style="background: #1e2979; padding: 50px 0;">
    <div class="ui page grid">
      <div class="column center aligned">
        <h1 class="ui header"><span style="color: #fff;">Background</span></h1>
        <p class="ui header">
          <span class="title-description" style="color: #fff;" 
            >Lloyd Crowdfunding (LCF) is a division of LLOYD CORPORATE CAPITAL
            (LCC). <br />
            Lloyd Corporate Capital provides human, equity and debt capital as
            well as training and advisory services to businesses in Southern
            Africa. Lloyd Corporate Capital is licensed by the Securities and
            Exchange Commission of Zimbabwe (SEC Zimbabwe) as a Securities
            Investment Advisor (Corporate Finance and Investment Products) in
            terms of section 42 (2) of the Securities and Exchange Act (Chapter
            24:25). License Number SECZ 4545V. Lloyd Corporate Capital is also a
            Non-Member Institution (NMI) of the Zimbabwe Stock Exchange (ZSE).
          </span>
        </p>
      </div>
    </div>
  </div>

  <div
    style="
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: #6c757d;
    "
  >
    <h2 class="ui header center aligned">
      <span style="color: #fff;">The Products</span>
    </h2>
    <p style="color: #fff; font-size: 18px;" class="title-description text-center">
      The promoter(s) can choose to invite the funds to come into the business
      as equity, quasi equity, a loan or a combination of the options
    </p>
    <div class="ui two column stackable page grid center aligned">
      <div class="column col-pad">
        <img
          class="rounded"
          src="/images/equity-600-400.jpg"
          alt=""
          style="margin: 0 auto;"
        />
        <div class="text-center">
          <h3 class="ui header" style="color: #fff; font-size: 29px;">EQUITY</h3>
          <p style="color: #fff;" class="title-description">
            The recommended range of equity stake to be made available is
            between 10% and 45% of the funded company.
          </p>
        </div>
      </div>
      <div class="column col-pad">
        <img
          class="rounded"
          src="/images/equity-quasi-600-400.jpg"
          alt=""
          style="margin: 0 auto;"
        />
        <div class="text-center">
          <h3 class="ui header">
            <span style="color: #fff; font-size: 29px;">QUASI EQUITY</span>
          </h3>
          <p style="color: #fff;" class="title-description">
            These include Preference shares, debentures etc, together with all
            the options that come with such instruments (convertible,
            redeemable, cumulative, participating etc)
          </p>
        </div>
      </div>
      <div class="column col-pad">
        <img
          class="rounded"
          src="/images/loan-600-400.jpg"
          alt=""
          style="margin: 0 auto;"
        />
        <div class="text-center">
          <h3 class="ui header"><span style="color: #fff; font-size: 29px;">LOAN</span></h3>
          <p style="color: #fff;" class="title-description">
            Vanilla loans will carry a market related risk driven interest rate,
            and will be for a minimum of 6 months and a maximum of 5 years.
          </p>
        </div>
      </div>
      <div class="column col-pad">
        <img
          class="rounded"
          src="/images/equity-loan-600-400.jpg"
          alt=""
          style="margin: 0 auto;"
        />
        <div class="text-center">
          <h3 class="ui header">
            <span style="color: #fff; font-size: 29px;">EQUITY/LOAN COMBINATION</span>
          </h3>
          <p style="color: #fff;" class="title-description">
            Combinations of the above in different proportions will be possible,
            depending on the project being financed.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center col-pad">
      <h3 style="color: white; " class="title-description">
        With all of the above, the selected option(s) will be on the advice of
        LCC, and will depend on a number of project related matters.
      </h3>

      <a href="/how-it-works" class="btn btn-danger btn-lg batani"
        >How It Works <i class="fa fa-chevron-down"></i
      ></a>
    </div>
  </div>

  <div
    style="padding-top: 100px; padding-bottom: 100px; background-color: #fff;"
  >
    <div class="ui page grid">
      <div class="column text-center">
        <a href="/login" class="btn btn-danger btn-lg batani"
          >Get Started <i class="fa fa-chevron-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
