<div>
  <div class="row">
    <div class="col">
      <div class="inner-header">
        <!-- <img class="ui image" src="/images/placeholder-images/custom_page_header_placeholder_image.png" style="margin: 0 auto !important; width: 100%;"> -->
      </div>
    </div>
  </div>
</div>
<div style="background: #1e2979; padding: 50px 0;">
  <div class="ui page grid">
    <div class="column center aligned">
      <h1 class="ui header"><span style="color: #fff;">FAQ</span></h1>
      <h2 class="ui header"><span style="color: #fff;">Frequently asked questions.</span>
      </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col" style="padding: 50px 0;">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne"
                class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link">Is Lloyd Crowdfunding
                strictly used for building Reward, Donation and Pre-Order CrowdFunding Platforms/Paradigms?</button>
            </h2>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">Our Site is focused on delivering a superior CF engine for building
                reward, donation and pre-order platforms as a turn key solution. We do not currently offer full blown
                equity, real estate or loan based crowdfunding models/paradigms out of the box. Our tools however allow
                the clients to build extremely customized websites. Unique customizations that extend and go beyond our
                core website focus such as equity, real estate and so on are possible and may be brought to our
                attention when needed. </p>
            </div>
          </div>
        </div><!-- End -->

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo"
                class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">How to make my
                campaigns private or restricted from general view?</button>
            </h2>
          </div>
          <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">To use private campaigns, you need to enable option called “Enable
                Private Campaign” in the Administration Dashboard -> Portal Settings -> Campaign Settings<br />

                Then during campaign creation, you will see a setting called “Private Campaign”. Once it is enabled the
                URL would be a random URL that you can give to other people and only those people with direct link can
                see the campaign and it contents.
              </p>
            </div>
          </div>
        </div><!-- End -->
      </div><!-- End -->
    </div>
  </div>
</div>