<div>
  <div class="row">
    <div class="col">
      <div class="inner-header-about">
        <!-- <img class="ui image" src="/images/placeholder-images/custom_page_header_placeholder_image.png" style="margin: 0 auto !important; width: 100%;"> -->
        <h1 class="header-title">
          Frequently Asked Questions.
        </h1>
      </div>
    </div>
  </div>
</div>
<div style="background: #1e2979; padding: 50px 0;">
  <div class="ui page grid">
    <div class="column center aligned">
      <h1 class="ui header"><span style="color: #fff;">FAQ</span></h1>
    </div>
  </div>
</div>
<div style="background: #abb4f7; /* width: revert; */" class="container">
  <div class="row">
    <div
      class="col center aligned text-center"
      style="background: #3140ad; padding: 30px 0;"
    >
      <a href="#promoters">
        <h1 class="ui header">
          <span style="color: #fff;" title="Click to view FAQs for Promoters"
            >The Promoters <i class="small arrow down icon"></i
          ></span>
        </h1>
      </a>
    </div>
    <div
      class="col center aligned text-center"
      style="background: #ad3131; padding: 30px 0;"
    >
      <a href="#financiers">
        <h1 class="ui header">
          <span style="color: #fff;" title="Click to view FAQs for Financiers"
            >The Financiers <i class="small arrow down icon"></i
          ></span>
        </h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <!-- The Promoters -->
  <div class="row">
      <h2 class="text-left" style="padding-top: 15px; color: #1e2979;">
The Promoters
      </h2>
  </div>
  <div class="row">
    <div class="col" id="promoters" style="padding: 50px 0;">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                class="btn btn-link text-dark font-weight-bold collapsible-link"
              >
                What Is Equity Crowdfunding?
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
            class="collapse "
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Equity Crowdfunding, also referred to as Crowd-investing,
                Investment Crowdfunding, or Crowd Equity is the online offering
                of financial securities of a private company to a group of
                people for investment.<br />
                As such it constitutes part of the capital market. Equity
                crowdfunding is often subject to securities and financial
                regulation because it involves investment into a commercial
                enterprise.<br />
                Equity Crowdfunding presents a new regime for SME Financing in
                Africa, enabling broad groups of investors to fund start-up
                companies and small businesses in return for equity. Its
                potential is greatest with start-up businesses that are seeking
                smaller investments to achieve establishment, while follow-on
                funding (required for subsequent growth) may come from other
                sources, as well as fresh rounds of crowdfunding.If the business
                succeeds, then its value goes up, as well as the value of a
                share in that business—the converse is also true.
                <br />
                The crowdfunding system has generally been used for charity and
                personal fundraising efforts. However, a number of SMEs in
                Africa (e.g. Mauritius, South Africa, Morocco, Tunisia, Cote
                d’Ivoire, Senegal etc) have successfully managed to raise
                capital for business start-ups and growth through Equity
                Crowdfunding.<br />
                The simplified approach is that LCF will facilitate the coming
                together of investors and investees that would probably not have
                had a chance to come together any other way.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                What Are The Benefits Of Equity Crowdfunding For My Enterprise?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <ul>
                <li>
                  This facility affords businesses with the opportunity for
                  growth by providing funding in situations that would not have
                  made this possible through the standard sources of capital.
                </li>
                <li>
                  This solution attempts to make sure that the business owner
                  gets charged a reasonable interest, whilst the depositors also
                  get a fair return for their money, in line with the attendant
                  risks.
                </li>
                <li>
                  An Equity Crowdfunding Campaign increases online visibility
                  which is great for the business, potential partners, sponsors,
                  etc.This can give the business a significant boost in its
                  growth plan.
                </li>
                <li>
                  This is also an opportunity to market-test the
                  brand/product/service and develop a new customer base as
                  investors become loyal customers.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 3 -->
        <div class="card">
          <div
            id="headingThree"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                How Do I Raise Capital For My Business Through Crowdfunding?
                <br /><small
                  >The promoter(s) can choose to invite the funds to come into
                  the business as equity, quasi equity, a loan or a combination
                  of the options.</small
                >
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <h4>EQUITY</h4>
              <p class="font-weight-light m-0">
                The recommended range of equity stake to be made available is
                between 10% and 45% of the funded company.
              </p>
              <h4>QUASI EQUITY</h4>
              <p class="font-weight-light m-0">
                These include Preference Shares, Debentures etc, together with
                all the options that come with such instruments (convertible,
                redeemable, cumulative, participating etc. )
              </p>
              <h4>LOAN</h4>
              <p class="font-weight-light m-0">
                Vanilla loans will carry a Market related risk-driven interest
                rate, and will be for a minimum of 6 months and a maximum of 3
                years.
              </p>
              <h4>EQUITY/LOAN COMBINATION</h4>
              <p class="font-weight-light m-0">
                Combinations of the above in different proportions will be
                possible, depending on the project being financed, and the
                ability of the entity to repay loans. <br />With all of the
                above, the selected option(s) will be on the advice of LCC, and
                will depend on a number of project related matters.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 4 -->
        <div class="card">
          <div id="headingFour" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <buttonv
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                What Are The Eligibility Criteria For Equity Crowdfunding
                Through Lloyd Crowdfunding (LCF) ?
              </buttonv>
            </h2>
          </div>
          <div
            id="collapseFour"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                There are 2 key precepts for successful Crowdfunding:
              </p>
              <ol type="1">
                <li>
                  Registered SMEs with bankable businesses and projects that
                  have been in existence for a minimum of two years.
                </li>
                <li>
                  Submission of comprehensive financial reports, financial
                  models and valuations which will be vetted by our financial
                  analysts in order to inform our decisions. Viability of the
                  bankable business as an investment case is based on its
                  industry performance, strength of financial projections and
                  capacity to deliver on stated objectives.
                </li>
              </ol>
              <p>
                <b>N.B.</b> This may be difficult for younger businesses as they
                do not have a significant track record to show. In such cases,
                we rely on the expert advice of our financial analysts to
                establish the viability of these businesses.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 5 -->
        <div class="card">
          <div id="headingFive" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Who Can Fund My Business?
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The LCF Financiers/Funders can be individuals or corporates or
                pension funds, or syndicates, or consortiums, or any unit
                recognisable at law.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 6 -->
        <div class="card">
          <div id="headingSix" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Is Crowdfunding Currently Regulated In Zimbabwe?
              </button>
            </h2>
          </div>
          <div
            id="collapseSix"
            aria-labelledby="headingSix"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Lloyd Crowdfunding (LCF) is a division of LLOYD CORPORATE
                CAPITAL (LCC). LCC is licensed by the Securities and Exchange
                Commission of Zimbabwe (SEC Zimbabwe) as a Securities Investment
                Advisor (Corporate Finance and Investment Products) in terms of
                section 42 (2) of the Securities and Exchange Act (Chapter
                24:25). License Number SECZ 4545V. <br />Lloyd Crowdfunding is
                recognized within the framework (regulatory sandbox)until such
                time as direct regulation is in place. LCC is a member of the
                Pan African regulator, African Crowdfunding Association (AcfA)
                and subscribes and adheres to strict governance and operational
                rules and regulations.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 7 -->
        <div class="card">
          <div
            id="headingSeven"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                How does the Capital Raise work?
              </button>
            </h2>
          </div>
          <div
            id="collapseSeven"
            aria-labelledby="headingSeven"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                We will be able to take you through the process and lead you to
                a successful capital raise. Simply send us an email from our
                website, or use the email info@lloydcapital.com. Alternatively,
                call +263 292 76562 or +263 772 600995.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 8 -->
        <div class="card">
          <div
            id="headingEight"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                What are the costs?
              </button>
            </h2>
          </div>
          <div
            id="collapseEight"
            aria-labelledby="headingEight"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The costs vary from project to project, but generally, the costs
                are as follows:
              </p>
              <ul>
                <li>Application fee – USD200</li>
                <li>Deposit fee ( for loan products) – 2% of loan amount</li>
                <li>
                  Custodian Fee – 1% per annum of outstanding amount for loan
                  products, and 1% per annum for a minimum of 6 months for
                  equity products.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 9 -->
        <div class="card">
          <div id="headingNine" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Are there any additional acts to comply with (in addition to the
                Companies Act) as a Crowdfunded entity?
              </button>
            </h2>
          </div>
          <div
            id="collapseNine"
            aria-labelledby="headingNine"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                In addition to the Companies Act, crowd funded entities will
                need to adhere to the laws that govern their particular
                industries as well as any local bye laws that apply.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 10 -->
        <div class="card">
          <div id="headingTen" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Is a private limited company in Zimbabwe allowed to raise
                funding via Equity Crowdfunding platforms?
              </button>
            </h2>
          </div>
          <div
            id="collapseTen"
            aria-labelledby="headingTen"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Yes, private limited companies may raise funding via equity
                crowdfunding.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 11 -->
        <div class="card">
          <div
            id="headingEleven"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseEleven"
                aria-expanded="false"
                aria-controls="collapseEleven"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Is there still a limit on how many shareholders a crowdfunded
                entity may have?
              </button>
            </h2>
          </div>
          <div
            id="collapseEleven"
            aria-labelledby="headingEleven"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The limit pertains to the type of entity as opposed to the way
                that the entity is funded. The following limits apply:
              </p>
              <ul>
                <li>Public companies – no limit</li>
                <li>Private limited companies – 50 Shareholders</li>
                <li>Partnerships – 20 Shareholders</li>
                <li>Syndicates – 20 Shareholders</li>
                <li>Joint Ventures – 20 Shareholders</li>
                <li>Other combinations – generally 20 Shareholders</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 12 -->
        <div class="card">
          <div
            id="headingTwelve"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwelve"
                aria-expanded="false"
                aria-controls="collapseTwelve"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                How do I set my valuation?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwelve"
            aria-labelledby="headingTwelve"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The financial analysts at LCF and LCC will assist you to arrive
                at a fair valuation of your business. Alternatively, there are a
                number of accounting and other professionals that can be engaged
                to do this, and LCF is happy to refer clients to these for
                independent confirmation.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 13 -->
        <div class="card">
          <div
            id="headingThirteen"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseThirteen"
                aria-expanded="false"
                aria-controls="collapseThirteen"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                How long is the campaign pitch process?
              </button>
            </h2>
          </div>
          <div
            id="collapseThirteen"
            aria-labelledby="headingThirteen"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The process from start of application to funds flow depends to a
                large extent on the extent to which the client is ready for the
                process, but by and large, this process should take around 60
                days. Efforts are made to reduce this time frame whenever
                possible.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 14 -->
        <div class="card">
          <div
            id="headingFourteen"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFourteen"
                aria-expanded="false"
                aria-controls="collapseFourteen"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                Approximately how much time will I have to commit to before and
                during the campaign?
              </button>
            </h2>
          </div>
          <div
            id="collapseFourteen"
            aria-labelledby="headingFourteen"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The process from start of application to funds flow depends to a
                large extent on the extent to which the client is ready for the
                process, but by and large, this process should take around 60
                days. Efforts are made to reduce this time frame wherever
                possible. The Promoter's involvement is vital. it is advisable
                that the promoter take an active role and stay close to the
                entire process.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Accordion item 15 -->
        <div class="card">
          <div
            id="headingFiveteen"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFiveteen"
                aria-expanded="false"
                aria-controls="collapseFiveteen"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                What Currency can I raise capital in ?
              </button>
            </h2>
          </div>
          <div
            id="collapseFiveteen"
            aria-labelledby="headingFiveteen"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Capital can be raised in any currency provided there are set
                agreements between the parties on which currency to use and the
                return on the investment. Cross exchange rates may apply where
                more than one currency is involved.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
      <!-- End -->
    </div>
  </div>

  <!-- The Financiers -->
  <div class="row">
      <h2 class="text-left" style="padding-top: 15px; color: #1e2979;">
The Financiers
      </h2>
  </div>
  <div class="row">
    <div class="col" id="financiers" style="padding: 50px 0;">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOnex" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseOnex"
                aria-expanded="true"
                aria-controls="collapseOnex"
                class="btn btn-link text-dark font-weight-bold collapsible-link"
              >
                What Is Equity Crowdfunding?
              </button>
            </h2>
          </div>
          <div
            id="collapseOnex"
            aria-labelledby="headingOnex"
            data-parent="#accordionExample"
            class="collapse "
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Equity Crowdfunding, also referred to as Crowd-investing,
                Investment Crowdfunding, or Crowd Equity is the online offering
                of financial securities of a private company to a group of
                people for investment.
              </p>
              <p>
                As such it constitutes part of the capital market. Equity
                crowdfunding is often subject to securities and financial
                regulation because it involves investment into a commercial
                enterprise.
              </p>
              <p>
                Equity Crowdfunding presents a new regime for SME Financing in
                Africa, enabling broad groups of investors to fund start-up
                companies and small businesses in return for equity. Its
                potential is greatest with start-up businesses that are seeking
                smaller investments to achieve establishment, while follow-on
                funding (required for subsequent growth) may come from other
                sources, as well as fresh rounds of crowdfunding.If the business
                succeeds, then its value goes up, as well as the value of a
                share in that business—the converse is also true.
              </p>
              <p>
                The crowdfunding system has generally been used for charity and
                personal fundraising efforts. However, a number of SMEs in
                Africa (e.g. Mauritius, South Africa, Morocco, Tunisia, Cote
                d’Ivoire, Senegal etc) have successfully managed to raise
                capital for business start-ups and growth through Equity
                Crowdfunding.
              </p>
              <p>
                The simplified approach is that LCF will facilitate the coming
                together of investors and investees that would probably not have
                had a chance to come together any other way.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwox" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwox"
                aria-expanded="false"
                aria-controls="collapseTwox"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
                What Due Diligence or prior verifications have been conducted on
                investment opportunities?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwox"
            aria-labelledby="headingTwox"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p>
                There are 2 key verification steps for successful Crowdfunding
                investment through LCF:
              </p>
              <ol type="1">
                <li>
                  Registered SMEs with bankable businesses and projects that
                  have been in existence for a minimum of two years.
                </li>
                <li>
                  Submission of comprehensive financial reports, financial
                  models and valuations which will be vetted by our financial
                  analysts in order to inform our decisions.Viability of the
                  bankable business as an investment case is based on its
                  industry performance, strength of financial projections and
                  capacity to deliver on stated objectives.
                </li>
              </ol>
              <p>This may be difficult  for younger businesses as they do not have a significant track records to pass. We rely on the expert advice of our financial analysts to establish the viability of these businesses through thorough vetting. Our partnerships with financial institutions allows us to have direct and accurate information on all our potential investment cases.</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 3 -->
        <div class="card">
          <div
            id="headingThreex"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseThreex"
                aria-expanded="false"
                aria-controls="collapseThreex"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How Does Lloyd Crowdfunding boost Investor Protection in crowdfunding?
                >
              </button>
            </h2>
          </div>
          <div
            id="collapseThreex"
            aria-labelledby="headingThreex"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                All payments to and from the Financiers are done through an independent third party registered and regulated custodian.
              </p>
              <p class="font-weight-light m-0">
                LCC is also licensed by Securities and Exchange Commission of Zimbabwe as well as being a Non-Member Institution (NMI) of the Zimbabwe Stock Exchange.
              </p>
              <p class="font-weight-light m-0">
                All promoters are vetted and strict Know Your Client (KYC) rules are adhered to.
              </p>
              <p class="font-weight-light m-0">
                All entities or projects that are listed by LCF are verified, vetted and rated. This includes physical site visits to the promoter’s sites by LCF business analysts. 
              </p>
              <p>LCF subscribes and adheres to the rules and regulations of African Crowdfunding Association (AcfA).
                <p>LCC  books of account and records are audited by PNA Chartered Accountants, who are registered with the Public Auditors and Accountants Board (PAAB) of Zimbabwe.</p>
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 4 -->
        <div class="card">
          <div id="headingFourx" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <buttonv
                type="button"
                data-toggle="collapse"
                data-target="#collapseFourx"
                aria-expanded="false"
                aria-controls="collapseFourx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What Risks do I need to be aware of to invest on crowdfunding platforms?
              </buttonv>
            </h2>
          </div>
          <div
            id="collapseFourx"
            aria-labelledby="headingFourx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                There is a possibility that the business fails as most businesses fail within the first 5 years of inception. The Return on Investment is not guaranteed therefore increasing the probability of defaulted payments. Even if the business succeeds, the funds are likely to be illiquid i.e. it may not be easy to sell your shares or withdraw your investment quickly.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 5 -->
        <div class="card">
          <div id="headingFivex" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFivex"
                aria-expanded="false"
                aria-controls="collapseFivex"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How do dividends get paid out?
              </button>
            </h2>
          </div>
          <div
            id="collapseFivex"
            aria-labelledby="headingFivex"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Each deal is tailored for the entities involved and as such there are no defined dividend expectations or assumptions. The agreement is specific and one can include a commitment to a set dividend policy in the capital raising period.
              </p>
              <p>LCF manage the pay out process through the appointed independent custodians.</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 6 -->
        <div class="card">
          <div id="headingSixx" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSixx"
                aria-expanded="false"
                aria-controls="collapseSixx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How much can I invest?
              </button>
            </h2>
          </div>
          <div
            id="collapseSixx"
            aria-labelledby="headingSixx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The minimum investment is USD1000 ( or market equivalent), but this may be changed depending on the project and the transaction in question.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 7 -->
        <div class="card">
          <div
            id="headingSevenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSevenx"
                aria-expanded="false"
                aria-controls="collapseSevenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              Are there any additional Costs?
              </button>
            </h2>
          </div>
          <div
            id="collapseSevenx"
            aria-labelledby="headingSevenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                All costs are for the account of the promoter. The Financier does not bear any costs.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 8 -->
        <div class="card">
          <div
            id="headingEightx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseEightx"
                aria-expanded="false"
                aria-controls="collapseEightx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What Currency can I invest in?
              </button>
            </h2>
          </div>
          <div
            id="collapseEightx"
            aria-labelledby="headingEightx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Investments can be made in any currency provided there are set agreements between the parties on which currency to use and the return on the investment. Cross exchange rates may apply where more than one currency is involved.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 9 -->
        <div class="card">
          <div id="headingNinex" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseNinex"
                aria-expanded="false"
                aria-controls="collapseNinex"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How do I get paid back if I provide a loan?
              </button>
            </h2>
          </div>
          <div
            id="collapseNinex"
            aria-labelledby="headingNinex"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                <b>All payments are made via and under the supervision of the appointed independent third party custodian</b>
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 10 -->
        <div class="card">
          <div id="headingTenx" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTenx"
                aria-expanded="false"
                aria-controls="collapseTenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How do you protect investors from fraudulent promoters?
              </button>
            </h2>
          </div>
          <div
            id="collapseTenx"
            aria-labelledby="headingTenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                All payments to and from the Financiers are done through an independent third party registered and regulated custodian.
              </p>
              <p>LCC is also licensed by Securities and Exchange Commission of Zimbabwe as well as being a Non Member Institution (NMI) of the Zimbabwe Stock Exchange.</p>
              <p>All promoters are vetted and strict Know Your Client (KYC) rules are adhered to.All promoters are vetted and strict Know Your Client (KYC) rules are adhered to.</p>
              <p>All entities or projects that are listed by LCF are verified, vetted and rated. This includes physical site visits to the promoter’s sites by LCF business analysts. </p>
              <p>LCF subscribes and adheres to the rules and regulations of African Crowdfunding Association (AcfA).</p>
              <p>LCC  books of account and records are audited by PNA Chartered Accountants, who are registered with the Public Auditors and Accountants Board (PAAB) of Zimbabwe.</p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 11 -->
        <div class="card">
          <div
            id="headingElevenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseElevenx"
                aria-expanded="false"
                aria-controls="collapseElevenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What other additional services does LCF offer to the financiers that come through this platform?
              </button>
            </h2>
          </div>
          <div
            id="collapseElevenx"
            aria-labelledby="headingElevenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Our financial analysts vet and pre-rate all the investee companies and the promoters on our platform.               </p>
                <p>We offer technical and operational improvement programs together with SES of Germany. </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 12 -->
        <div class="card">
          <div
            id="headingTwelvex"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwelvex"
                aria-expanded="false"
                aria-controls="collapseTwelvex"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              Can I invest if I am not a Zimbabwean citizen?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwelvex"
            aria-labelledby="headingTwelvex"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Yes, non Zimbabwean citizens may invest, subject to the country’s exchange control and other laws.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 13 -->
        <div class="card">
          <div
            id="headingThirteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseThirteenx"
                aria-expanded="false"
                aria-controls="collapseThirteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              When is a shareholder’s Certificate issued?
              </button>
            </h2>
          </div>
          <div
            id="collapseThirteenx"
            aria-labelledby="headingThirteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                When all the related agreements have been signed and funding has been received.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 14 -->
        <div class="card">
          <div
            id="headingFourteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFourteenx"
                aria-expanded="false"
                aria-controls="collapseFourteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              Do I need to be an accredited investor?
              </button>
            </h2>
          </div>
          <div
            id="collapseFourteenx"
            aria-labelledby="headingFourteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                All potential investors will need to satisfy basic Know Your Client (KYC) requirements, in order to be able to invest in any of our listings. 
              </p>
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Accordion item 15 -->
        <div class="card">
          <div
            id="headingFiveteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseFiveteenx"
                aria-expanded="false"
                aria-controls="collapseFiveteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What Risks do I need to be aware of to invest on crowdfunding platforms?
              </button>
            </h2>
          </div>
          <div
            id="collapseFiveteenx"
            aria-labelledby="headingFiveteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                The normal risks that apply to any investment also apply in this case, and we urge our potential investors to ensure that due diligence is done on the promoters and their projects. As LCF, we will do our best to protect our financiers, but can not give any undertakings.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 16 -->
        <div class="card">
          <div
            id="headingSixteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSixteenx"
                aria-expanded="false"
                aria-controls="collapseSixteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              How does a Shareholder sell their Shares?
              </button>
            </h2>
          </div>
          <div
            id="collapseSixteenx"
            aria-labelledby="headingSixteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                LCF is able to assist in the sale of shares in any of our clients, but the shareholders are equally at liberty to conduct private sales. 
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 17 -->
        <div class="card">
          <div
            id="headingSeventeenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseSeventeenx"
                aria-expanded="false"
                aria-controls="collapseSeventeenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              When could an Investor realistically see a return?
              </button>
            </h2>
          </div>
          <div
            id="collapseSeventeenx"
            aria-labelledby="headingSeventeenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Each investment has its own harvest horizon, and it is difficult to put a blanket time period for a return. At the time of investing, there will be a projected time frame for a realistic return to be had.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 18 -->
        <div class="card">
          <div
            id="headingEighteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseEighteenx"
                aria-expanded="false"
                aria-controls="collapseEighteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What are the frequency of returns and are they guaranteed?
              </button>
            </h2>
          </div>
          <div
            id="collapseEighteenx"
            aria-labelledby="headingEighteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Each investment has its own harvest horizon, and it is difficult to put a blanket time period for a return. At the time of investing, there will be a projected time frame for a realistic return to be had.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 19 -->
        <div class="card">
          <div
            id="headingNineteenx"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapseNineteenx"
                aria-expanded="false"
                aria-controls="collapseNineteenx"
                class="btn btn-link collapsed text-dark font-weight-bold collapsible-link"
              >
              What are the tax implications of investing through Lloyd Crowdfunding?
              </button>
            </h2>
          </div>
          <div
            id="collapseNineteenx"
            aria-labelledby="headingNineteenx"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                Crowdfunding does not attract any more additional tax related costs. There are no changes that are as a direct result of investing via a crowdfunding platform.
              </p>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
      <!-- End -->
    </div>
  </div>
</div>
