<div>
  <div class="row">
    <div class="col">
      <div class="inner-header-about">
        <!-- <img class="ui image" src="/images/placeholder-images/custom_page_header_placeholder_image.png" style="margin: 0 auto !important; width: 100%;"> -->
        <h1 class="header-title">
          Partners
        </h1>
      </div>
    </div>
  </div>
</div>
<div style="background: #1e2979; padding: 50px 0;">
  <div class="ui page grid">
    <div class="column center aligned">
      <h2 class="ui header">
        <span style="color: #fff;"
          >We are grateful to our professional technical partners who have
          agreed to continue supporting us in this business. We list some of
          them below:</span
        >
      </h2>
    </div>
  </div>
</div>
<!-- Partner LOGOs -->
<div class="partner-logos" style="padding: 50px 0; background-color: #ffffff;">
  <div class="ui page grid">
    <div class="column">
      <div class="partner-logos-grid ui centered six column stackable grid">
        <div class="column">
          <a id="partner-1">
            <img
              class="company-logo ui image"
              src="../../images/partnerships/cabs-300-300.jpg"
              alt="CABS"
            />
          </a>
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/thrinacia-300-300.jpg"
            alt="Thrinacia"
          />
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/coghan-welsh-300-300.jpg"
            alt="Coghan Welsh"
          />
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/acfa-300-300.jpg"
            alt="ACFA"
          />
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/pna-300-300.jpg"
            alt="PNA"
          />
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/ses-300-300.jpg"
            alt="SES"
          />
        </div>
        <div class="column">
          <img
            ng-if="!link.url"
            class="company-logo ui image"
            src="../../images/partnerships/cabs-custodian-300-300.jpg"
            alt="CABS Custodian"
          />
        </div>
      </div>
      <div class="container" id="partner-extend">
        <div class="row">
          <div class="col" style="background-color: black;">
            <img
              src="../../images/tatenda-mapigoti-CtqY0-G72qg-unsplash-1920-550.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col" style="padding: 50px 0;"></div>
  </div>
</div>
